<div class="mdl-layout mdl-js-layout mdl-layout__fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Rockets SpaceX</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout__large-screen-only">
        <a class="mdl-navigation__link" [routerLink]="['/']">Rockets</a>
        <a class="mdl-navigation__link" [routerLink]="['/create',0]">Create</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layou__content" style="padding: 20px;">
    <router-outlet></router-outlet>
  </main>
  </div>
  