:host .stock-card {
    background: #333333;
 }
 :host .stock-card.increase {
    background: #558B2F;
    color: rgb(1, 1, 1);
 }
 :host .stock-card.decrease {
    background: #C62828;
    color: rgb(7, 7, 7);
 }
 